*.js
!.eslintrc.js
!jest.config.js
*.d.ts
*.tsbuildinfo
node_modules
**/dist
.env
*.log
*.zip

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-exports.json

# Parcel default cache directory
.parcel-cache
